*{
    margin: 0px;
    padding: 0px;
    margin-top: 0px !important;
    
}
body{
    font-family: 'Kumbh Sans', sans-serif;
}
/*#header{
    width: 100%;
    position: fixed;
    z-index: 1;
    
}*/
.MuiAppBar-colorPrimary {
    color: #000 !important;
    background-color: #ffffff !important;
}
#info{
    max-width: 100%;
}
.MuiGrid-spacing-xs-3 {
    width: 100% !important;
    margin: 0px !important;
}
.menu{
    width: 100%;
    position: fixed;
    z-index: 1;
}



.slider {
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
